/*solids*/
$black:#000;
$white:#fff;
$blueDark:#17202A;
$font_blue:#283747;
$lightGrey:#EDEEF0;
$cyan:#34495E;
$redLogo:#641E16;

/*gradiants*/
$BGB:linear-gradient(to bottom, lighten($black, 70) 10%,lighten($black, 90) 50%,$white 100%);
$RGB:linear-gradient(to bottom, lighten($redLogo, 40) 10%,lighten($redLogo, 0) 50%,$redLogo 100%);

