.login{
    background-image: url('../../img/login.webp');
    background-size: cover;
    background-position: top center;
}
.shadow-login{
    box-shadow: 0 0 1px $black,2px 2px 5px $black,4px 4px 5px $black;
    background: $BGB;
}