.span_stats_list{
    max-height: 400px;
    overflow: auto;
    border-radius: 10px;
}
.span_logos_list{
    max-height: 300px;
    width: 32%;
    margin: .5%;
    overflow: auto;
    border:1px solid lighten($black, 70);
}
